Homework

This homework should consolidate everything you learnt in class today.

Question 1

Create a list with the following data, and assign it to a variable named shopping

In [ ]:
shopping = ["spam", "ham", "eggs", "ham"]
shopping

Then do the following:
    1. Extract the second element of the list.

In [ ]:
shopping[1]

    2. Extract the first to third (inclusive) element of the list

In [ ]:
shopping[0:3]

    3. Extract only the last element of the list.

In [ ]:
shopping[3]

Question 2

Set up a list with the following elements: 
Croy, Cumbernauld, Falkirk High, Linlithgow, Livingston, Haymarket

In [ ]:
train_stops = ["Croy", "Cumbernauld", "Falkirk High", 
               "Linlithgow", "Livingston", "Haymarket"]

Perform the following: 
    1. Append Edinburgh Waverley to the end of the list

In [ ]:
train_stops.append("Edinburgh Waverley")
train_stops

    2. Add "Queen Street" to the start of the list

In [ ]:
train_stops.insert(0, "Queen Street")
train_stops

    3. Find out what index "Croy" is at in the list

In [ ]:
train_stops[1]

    4. Add "Polmont" at the appropriate point 
        (between "Falkirk High" and "Linlithgow")

In [ ]:
train_stops.insert(4,"Polmont")
train_stops

    5. Remove "Haymarket" from the list of stops

In [ ]:
train_stops.remove("Haymarket")
train_stops

    6. Remove all items from the stops

In [ ]:
train_stops.pop()
train_stops

Question 3

Set up the following dictionary:

person = {"name": "Steph", "age":"31", "Instructor" : True}

In [ ]:
person = {"name": "Steph", "age":"31", "Instructor" : True}

Do the following:
    1. Return the keys, values and items from this dictionary

In [ ]:
person.keys()

In [ ]:
person.values()

In [ ]:
person.items()

    2. Take out only the name from it

In [ ]:
person["name"]

    3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [ ]:
person["email"] = "steph@codeclan.com"
person

    4. Delete the job descrption from the dictionary(Hint:look up the del function)

In [ ]:
del person["Instructor"]

In [ ]:
person

Question 5

Write a conditional that takes in two inputs:

    .python_is_fun = TRUE
    .python_is_weird = TRUE
    
We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [ ]:
python_is_fun = True
python_is_weird = True

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
elif python_is_fun != True and python_is_weird != True:
    print("Python is not for me!")

Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [ ]:
chickens = [
    {"name": "Margaret", "age": 2, "eggs": 0},
    {"name": "Hetty", "age": 1, "eggs": 2},
    {"name": "Henrietta", "age": 3, "eggs": 1},
    {"name": "Audrey", "age": 2, "eggs": 0},
    {"name": "Mabel", "age": 5, "eggs": 1}
           ]

To write this as a loop, we'd do something like this:

In [ ]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # Eggs have been collectd
    
    print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list. 

We also want to return the string at the end, instead of using print

In [ ]:

def egg_count(egg_layers):
    num_eggs = 0
    for animal in range(len(egg_layers)):
        num_eggs += egg_layers[animal]["eggs"]
    return num_eggs

In [ ]:
egg_count(chickens)

Extensions

Question 1

Set up the following collection:

In [ ]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

1. Change the capital of Wales from "Swansea" to "Cardiff"

In [ ]:
united_kingdom[1]["capital"] = "Cardiff"

In [ ]:
united_kingdom

2. Create a dictionary for Northern Ireland and add it to the united_kingdom list( The capital is Belfast and population is 1,811,000

In [ ]:
united_kingdom.append({"name": "Northern Ireland", 
                       "population": 1811000, 
                       "capital": "Belfast"})

In [ ]:
united_kingdom

3. Use a loop to print the names of all the countries in the UK

In [ ]:
country = 0

for country in range(len(united_kingdom)):
    print(united_kingdom[country]["name"])

In [ ]:
united_kingdom.values()

In [ ]:
type(united_kingdom[0].values())

In [ ]:
united_kingdom[0].values()

In [ ]:
united_kingdom[0]["name"]

4. Use a loop to find the total population of the UK

In [ ]:
population = 0

for pop in range(len(united_kingdom)):
    population += united_kingdom[pop]["population"]
    print("United Kingdom Population: ", population)